PLUG_E2E_USER=your_user@example.com
PLUG_E2E_PASSWORD=your_password
PLUG_E2E_AGENT_ID=00000000-0000-0000-0000-000000000000
PLUG_E2E_CLIENT_TOKEN=your_client_token
PLUG_E2E_BASE_URL=https://plug-server.se7esistemassinop.com.br/api/v1
PLUG_E2E_TIMEOUT_MS=30000
PLUG_E2E_SQL_QUERY_CLIENTE=SELECT * FROM Cliente
PLUG_E2E_SQL_QUERY_MARCA=SELECT * FROM Marca
PLUG_E2E_SQL_QUERY_GRUPO_PRODUTO=SELECT * FROM GrupoProduto
PLUG_E2E_SQL_QUERY_MULTI_RESULT_SUCCESS=SELECT * FROM Cliente; SELECT * FROM Marca
PLUG_E2E_SQL_QUERY_MULTI_RESULT_MIXED=SELECT * FROM Cliente; SELECT * FROM Empresa
PLUG_E2E_SQL_QUERY_UNAUTHORIZED=SELECT * FROM Empresa
PLUG_E2E_SQL_QUERY_INVALID=SELECT FROM Cliente
